/* Header Styles */

.help-text {
    display: none;
}

.help-button {
    width: 25px;
    height: 25px;
    border: 1px solid #708090;
    border-radius: 15px;
    background: #708090;
    text-align: center;
    font-weight: bold;
}

.help-button-text {
    vertical-align: middle;
    color: white;
    text-decoration: none;
}

.error {
    color: red;
    font-weight: bold;
}

#token-alert {
    display: none;
}

/* Courses Styles */

#course-info {
    letter-spacing: 1px;
}

.dashboard-table {
    letter-spacing: 1px;
    width: 100%;
    text-align: left;
}

.table-header {
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.course-link-wrapper {
    margin: 8px;
    background: rgba(255,255,255,0.5);
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 8px;
    padding-right: 8px;
}

.course-link, .assignment-link, .course-page-title {
    color: #34495e;
    display: block;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;
    width: 100%;
    line-height: 20px;
}

.course-link-inner {
    vertical-align: middle;
}

#course-title {
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

/* Course Template */

.dash-content {
    max-width: none;
}

#assignment-table {
    overflow: auto;
    max-height: 400px;
    margin-right: 50px;
}

/* Assignment Template */

#submission-table {
    overflow: auto;
    max-height: 400px;
}

td {
    margin-right: 10px;
}

#submission-preview {
    z-index: 1000;
    display: none;
    position: fixed;
    margin: auto;
    min-width: 400px;
    min-height: 400px;
}

p, .content-subhead {
    letter-spacing: 1px;
}

.toggle-link {
    text-decoration: none;
}

.assignment-title {
    margin-top: 20px;
}

/* Staff Hours */
.table > tbody > tr > td,
.table > tbody > tr > th {
  /* Fix for bootsrap stupidity */
  vertical-align: middle !important;
}

.hours-data {
  max-width: 6em;
}