/* CSS declarations go here */

/* Layout Template */


/* Home Template */

#login-wrapper {
    visibility: hidden;
    background-color: rgba(0,0,0,0.8);
    height: 100%;
    width: 100%;
    z-index: 1001;
    position: fixed;
    top: 0;
    left: 0;
}

#login-box {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1002;
    height: 40%;
    width: 40%;
    min-height: 200px;
    min-width: 200px;
    margin: auto;
    border-radius: 15px;
}

#features-box-outer {
    background: #2d3e50;
    color: white;
}

#features-box-inner {
    padding-top: 3px;
}

.features-subtitle {
    margin-top: 20px;
}

.features-text {
    color: white;
}

#cal-box {
    background: white;
    color: #aaa;
}

/* Dashboard  Template */

#menu {
    top: 62px;
}

/* Not Found Template */

#panda-box {
    padding-top: 15px;
    max-width: 700px;
    letter-spacing: 0.3em;
}