<template name="assignment">
  <div class="header">
    <h1>
      {{assignment.name}}
    </h1>
    <a href="#" class="course-link">
      Back to {{course.name}}
    </a>
  </div>
  <div class="content dash-content">
    <h3 class="assignment-title content-subhead">
      <a href="#" class="toggle-link" id="info-toggle" onclick="$('#course-info').toggle();">+</a> Assignment Info
    </h3>
    <div class="pure-g" id="course-info" style="display:none;">
      <div class="pure-u-1-2">
        <table class="dashboard-table">
          <tr>
            <td>
              <p class="course-page-title" style="height:20px;">
                Created:
              </p>
            </td>
            <td>
              <p>
                {{assignment.created_at}}
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="course-page-title" style="height:20px;">
                Due:
              </p>
            </td>
            <td>
              <p>
                {{assignment.due_at}}
              </p>
            </td>
          </tr>
        </table>
      </div>
      <div class="pure-u-1-2">
        <table class="dashboard-table">
          <tr>
            <td>
              <p class="course-page-title" style="height:20px;">
                Points Possible:
              </p>
            </td>
            <td>
              <p>
                {{assignment.points_possible}}
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="course-page-title" style="height:20px;">
                Ungraded:
              </p>
            </td>
            <td>
              <p>
                {{assignment.needs_grading_count}}
              </p>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="pure-g">
      <div style="width:100%">
        <h3 class="assignment-title content-subhead">
          <a href="#" class="toggle-link" id="submissions-toggle" onclick="$('#submission-table').toggle();">+</a> Submissions
        </h3>
        <div id="submission-table" style="display:none;">
          <table class="dashboard-table">
            <thead>
              <tr class="table-header">
                <td>Student</td>
                <td>Submitted</td>
                <td>Grader</td>
                <td>Graded?</td>
              </tr>
            </thead>
            <br>
            <tbody>
              {{#each submissions}}
              <tr>
                <td>
                  <a href="#" class="course-link">
                    <p class="course-link-inner">
                      {{this.user.name}}
                    </p>
                  </a>
                </td>
                <td>
                  {{#if this.submitted_at}}
                  {{this.submitted_at}}
                  {{else}}
                  No Submission Time
                  {{/if}}
                </td>
                <td>
                  {{#if this.grader_id}}
                  {{this.grader_name}}
                  {{else}}
                  Not Yet Graded
                  {{/if}}
                </td>
                <td>
                  {{#if this.graded_at}}
                  <i class="fa fa-check-square-o"></i>
                  {{/if}}
                  <a href="#" class="grade-submission pure-button">Grade</a>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="pure-g">
      <h3 class="assignment-title content-subhead">
        <a href="#" class="toggle-link" id="analytics-toggle" onclick="$('#stat-table').toggle();$('#graderCharts').toggle();">+</a> Grader Analytics
      </h3>
      <table class="dashboard-table" id="stat-table" style="display:none;">
        <thead>
          <tr class="table-header">
            <td>Grader</td>
            <td>Average Score</td>
            <td>Number Graded</td>
          </tr>
        </thead>
        <br>
        <tbody>
          {{#each graderStats}}
          <tr>
            <td>
              <a href="#" class="course-link">
                <p class="course-link-inner">
                  {{this.grader_name}}
                </p>
              </a>
            </td>
            <td>
              {{this.mean}}
            </td>
            <td>
              {{this.scores.length}}
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="pure-g" style="letter-spacing:1px;padding-top:50px;display:none;height:100%;width:100%;" id="graderCharts">
      {{> highchartsHelper chartId="readerAverages" chartWidth="100%" chartHeight="100%" chartObject=boxChart}}
    </div>
    <h3 class="assignment-title content-subhead">
      <a href="#" class="toggle-link" id="analytics-toggle" onclick="$('#grade-stats').toggle();$('#gradeHist').toggle();">+</a> Grade Statistics
    </h3>
    <div class="pure-g" style="letter-spacing:1px;display:none;" id="grade-stats">
      <div class="pure-u-1-2">
        <table class="dashboard-table">
          <tr>
            <td>
              <p class="course-page-title" style="height:20px;">
                Median:
              </p>
            </td>
            <td>
              <p>
                {{median}}
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="course-page-title" style="height:20px;">
                Mean:
              </p>
            </td>
            <td>
              <p>
                {{mean}}
              </p>
            </td>
          </tr>
        </table>
      </div>
      <div class="pure-u-1-2">
        <table class="dashboard-table">
          <tr>
            <td>
              <p class="course-page-title" style="height:20px;">
                Standard Deviation:
              </p>
            </td>
            <td>
              <p>
                {{standardDeviation}}
              </p>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="pure-g" style="letter-spacing:1px;display:none;width:100%;height:100%;" id="gradeHist">
      {{> highchartsHelper chartId="gradeHistogram" chartWidth="100%" chartHeight="100%" chartObject=histoChart}}
    </div>
  </div>
</template>
