<template name="course_staff">
    <h3 class="content-subhead">Course Staff</h3>

    <div class="pure-g">
      <table class="dashboard-table">
        <tr class="table-header">
          <td></td>
          <td>Name</td>
          <td>Role</td>
          <td>Hours</td>
        </tr>
        {{#each staffList}}
          <tr>
            <td><img src="{{ this.avatar_url }}"/></td>
            <td>
              <p class="course-page-title" style="height:20px;">
                {{this.name}}
              </p>
            </td>
            <td><p>{{this.enrollment_type}}</p></td>
            <td>
              {{#if isInDB}}
                <input type="number" for="xx" value="{{this.hours}}">
              {{else}}
                0
              {{/if}}
            </td>
          </tr>
        {{/each}}
        </table>
    </div>
    {{#if  isInDB}}
      Form Submit Here.
    {{/if}}
</template>
