<template name="course">
  <div class="header">
    <h1>
      {{course.name}}
    </h1>
  </div>
  <div class="content dash-content">
    <div class="pure-g" id="course-info">
      <h3 class="content-subhead">
	Course Info
      </h3>
      <table class="dashboard-table">
	<tr>
	  <td>
	    <p class="course-page-title" style="height:20px;">
	      My Role:
	    </p>
	  </td>
	  <td>
	    <p>
	      {{myRole}}
	    </p>
	  </td>
	</tr>
	<tr>
	  <td>
	    <p class="course-page-title" style="height:20px;">
	      Term:
	    </p>
	  </td>
	  <td>
	    <p>
	      {{course.term.name}}
	    </p>
	  </td>
	</tr>
      </table>
    </div>
    <div class="pure-g">
      <div class="pure-u-1-2">
	<h3 class="content-subhead">
	  Assignments
	</h3>
	<div id="assignment-table">
	  <table>
	    {{#each assignmentList}}
	    <tr>
	      <a href="#" class="assignment-link">{{this.name}}</a>
	    </tr>
	    {{/each}}
	  </table>
	</div>
      </div>
      <div class="pure-u-1-2">
	{{> course_staff}}
      </div>
    </div>
  </div>
</template>
