<template name="home">
  <div class="header">
    <h1>Dashboard</h1>
  </div>
  <div class="content">
    <h2 class="content-subhead">Welcome to GradeStat!</h2>
    <p>
      GradeStat is an interactive grading application that fuses seamlessly with your bCourses account to bring you additional functionality. With GradeStat you can assign readers to grade assignments, track their progress and compare their results.
      <br><br>
      Get started by following the "Courses" link on the sidebar. The page that it brings you to will allow you to manage your courses and start grading. Good luck! If you have any concerns, feel free to contact us at help@meteor.gradestat.com.
    </p>

  </div>

</template>
