<template name="main">
  <script>
    function showLoginBox() {
      var haze = document.getElementById("login-wrapper");
      haze.style.visibility = "visible";
    }
    $("#login-box").on("click", function(event){
      event.stopPropagation();
    });
    $("#login-wrapper").on("click", function(event){
      $("#login-wrapper").hide();
    });
  </script>
  
  <!-- NAV BAR -->
    <div class="header">
      <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="{{pathFor 'splash'}}"><i class="fa fa-check-square-o"></i> Gradestat</a>

          {{> loginButtons}}
          <!-- <li class="pure-menu-item"><a href="#" class="pure-menu-link">Sign Up</a></li>
          <li class="pure-menu-item"><a href="#" class="pure-menu-link" onclick="showLoginBox();">Login</a></li> -->
      </div>
    </div>

    {{> yield}}
</template>
