<template name="mycourses">
  <div class="header">
    <h1>Courses</h1>
  </div>
  <div class="content">
    {{#if noToken}}
    {{> updateToken}}
    {{else}}
    <h2 class="content-subhead">My Courses</h2>

    <div class="pure-g">
      <div class="pure-u-1-1">
        <table class="table table-striped" id="course-table">
          <thead>
            <tr>
              <th><h4>Course</h4></th>
              <th><h4>Term</h4></th>
              <th><h4>Manage</h4></th>
            </tr>
          </thead>
          <tbody>
            {{#each courses}}
            <tr>
              <td>
                <a href="#" class="course-link">
                  <p class="course-link-inner">{{this.name}}</p>
                </a>
              </td>
              <td>{{this.term.name}}</td>
              <td>
                {{#if this.user_id}}
                <a href="#" class="remove-course pure-button">Remove</a>
                {{else}}
                <a href="#" class="add-course pure-button">Add</a>
                {{/if}}
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    {{/if}}

  </div>

</template>
