<template name="mycourses">
  <div class="header">
    <h1>Courses</h1>
  </div>
  <div class="content">
    {{#if noToken}}
    {{> updateToken}}
    {{/if}}

    <h2 class="content-subhead">My Courses</h2>

    <div class="pure-g">
      <table class="dashboard-table" id="course-table">
	<tr class="table-header">
	  <td>
	    Course
	  </td>
	  <td>
	    Term
	  </td>
	  <td>
	    Manage
	  </td>
	</tr>
	<br>
	{{#each courses}}
	<tr>
	  <td>
	    <a href="#" class="course-link">
	      <p class="course-link-inner">
	      {{this.name}}
	      </p>
	    </a>
	  </td>
	  <td>
	    {{this.term.name}}
	  </td>
	  <td>
	    {{#if this.user_id}}
	    <a href="#" class="remove-course pure-button">Remove</a>	    
	    {{else}}
	    <a href="#" class="add-course pure-button">Add</a>
	    {{/if}}
	  </td>
	</tr>
	{{/each}}
      </table>
    </div>

    {{#if course}}
    <h2 id="course-title">
      {{course.name}}
    </h2>
    <h3 class="content-subhead">
      Assignments
    </h3>
    {{#each assignmentList}}
    <ul>
      <li><a href="#" class="assignment-link">{{this.name}}</a></li>
    </ul>
    {{/each}}
    {{assignment}}
    {{/if}}

  </div>

</template>
