<template name="updateToken">
  <script>
    function toggleDisplay(id) {
      var el = document.getElementById(id)
      if (el.style.display == 'block') {
        el.style.display = 'none';
      } else {
        el.style.display = 'block';
      }
    }

    function validateTokenForm() {
      var token = document.forms["token_form"]["access_token"].value;
      if (token == null || token == "") {
        document.getElementById("token-alert").style.display = "block";
        return false;
      }
    }
  </script>
  <h2 class="content-subhead">Update bCourses Access Token</h2>
  <p id="token-alert" class="error">Token field cannot be empty.</p>
  <form class="pure-form" action="/update_token" name="token_form" onsubmit="return validateTokenForm()">
    <fieldset>
      <input type="text" name="access_token" placeholder="Paste token here.">
      <input type="hidden" name="user_id" value="{{currentUser._id}}">
      <button type="submit" class="pure-button pure-button-primary">Submit</button>
    </fieldset>
  </form>
  <div class="help-button" onclick="toggleDisplay('token-help');"><a href="#" class="help-button-text">?</a></div>
  <div id="token-help" class="help-text">
    <p>
      About: The access token allows Gradestat to import data about your classes from bCourses to be integrated with the app's functionality. This data is never used by Gradestat for any purposes other than providing you with our service. This data is not viewed or shared by Gradestat.
    </p>
    <p>
      Instructions: To obtain a new access token, go the "Settings" page in your bCourses account. Under "Approved Integrations", click "New Access Token". Copy and paste the token value from the box that appears in your window into this form and click "Submit". This will update your course info from bCourses.
    </p>
    <p>
      Click this link to get a token:
      <br />
      <strong>
        <a href="https://bcourses.berkeley.edu/profile/settings">https://bcourses.berkeley.edu/profile/settings</a>
      </strong>
    </p>

  </div>
</template>
